<a href="https://colab.research.google.com/github/JakeOh/202006_iw_pyda_wkd/blob/master/py01_variable.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 변수(Variable)

In [2]:
# 변수: 데이터(자료)를 저장하는 공간
# 데이터(자료): 숫자형 자료, 문자열 자료, 논리형 자료, ...

x = 100  # 변수 x에 숫자 100을 저장
print(x)
print(x + 10)

100
110

In [3]:
name = '오쌤'  # name 변수에 '오쌤' 문자열 값을 저장
# 파이썬에서 문자열은 작은따옴표('') 또는 큰따옴표("")로 감쌈.
print(name)

오쌤

In [5]:
true_or_not = (100 < 99)  # True/False 타입 - bool(논리) 타입
print(true_or_not)
# Ctrl+Space: 코드 추천/자동 완성 기능

False

# 연산자(Operator)

In [11]:
# 변수 x에 숫자 123를 저장
x = 123
# 변수 y에 숫자 100을 저장
y = 100

# 산술 연산자: +, -, *, /, %, //, **
print('x + y =', x + y)
print('x - y =', x - y)
print('x * y =', x * y)    # 곱셈
print('x / y =', x / y)    # 나눗셈
print('x % y =', x % y)    # 나눈 나머지
print('x // y =', x // y)  # 나눈 몫
print('10 ** 3 =', 10 ** 3)  # 거듭 제곱

x + y = 223
x - y = 23
x * y = 12300
x / y = 1.23
x % y = 23
x // y = 1
10 ** 3 = 1000

In [12]:
# 할당(대입) 연산자, 복합 할당(대입) 연산자
# assignment operators: =, +=, -=, *=, /=, %=, ...
# 변수이름 = 값: 등호 오른쪽의 값을 왼쪽의 변수에 저장(할당)

x = 10  # 변수 x에 숫자 10을 저장
print('x =', x)

x = x + 1  # (x + 1)의 결과를 변수 x에 저장
print('x =', x)

x = 10
x = 11

In [13]:
x = 10
print('x =', x)
x += 1  # x = x + 1를 간단히 표현한 것이 복합 할당 연산자
print('x =', x)

x = 10
x = 11

In [16]:
# 비교 연산자: 좌변과 우변을 비교해서 True 또는 False 값을 반환하는 연산.
# ==, !=, >, >=, <, <=
# 논리 연산자: and, or, not

x, y = 10, 7
print(x == y)
print(x != y)
print(x > y)
print(x < y)

False
True
True
False

In [21]:
x, y = 10, 7
print((x > 5) and (y > 5))
print((x > 8) and (y > 8))
print((x > 8) or (y > 8))
print(not (x > 8))

True
False
True
False