<a href="https://colab.research.google.com/github/JakeOh/202006_iw_pyda_wkd/blob/master/py02_data_type.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# Python의 주요 자료(데이터) 타입:
# 숫자(int, float), 문자열(str), 논리(bool)
# type(값/변수): 자료 타입을 알려줌.
print(type(123))  # int: 정수(integer)
print(type(1.234))  # float: 실수(floating point number)
print(type('Python'))  # str: 문자열(string)

result = 10 > 0
print(type(result))  # bool: 논리형(boolean)

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [8]:
# 여러개의 자료(데이터)들을 하나의 변수에 저장하기 위해서 만들어진 타입
# list, tuple, dictionary, set 타입

# list(리스트): 여러개의 값들을 하나의 변수 이름으로 저장하기 위한 타입
# 리스트 저장하고 있는 원소(값)를 찾을 수 있는 인덱스(일련 번호)를 가지고 있음.
# 리스트의 인덱스는 0부터 시작.
# 리스트의 원소는 인덱스 연산자 []를 사용해서 값을 읽거나 변경할 수 있음.

numbers = [1, 2, 3, 4, 5]  # []는 리스트를 만드는 기능.
print(numbers)
print(numbers[0])  # []는 인덱스 연산자 - 리스트의 원소를 찾음.
numbers[0] = 100  # 숫자 100을 리스트 numbers의 0번째 위치에 저장.
print(numbers)

# len(리스트 이름): 리스트의 길이(원소의 개수)를 알려줌.
print('length:', len(numbers))

[1, 2, 3, 4, 5]
1
[100, 2, 3, 4, 5]
length: 5

In [10]:
# 리스트의 부분 집합 - slicing
# list_name[start:end]: start <= index < end 범위의 원소를 선택.
evens = [2, 4, 6, 8, 10, 12]
print(evens[2:5])

[6, 8, 10]

In [15]:
# [start:end]에서 start를 생략하면, start의 기본값은 0.
# [start:end]에서 end를 생략하면, end의 기본값은 리스트의 길이.
# 즉, end를 생략하면 리스트의 마지막 원소까지 선택.
print(evens[0:3])  # 0 <= index < 3
print(evens[:3])
print(evens[3:6])
print(evens[3:])
print(evens[:])  # 인덱스 0번 원소부터 마지막 원소까지 모두 선택

[2, 4, 6]
[2, 4, 6]
[8, 10, 12]
[8, 10, 12]
[2, 4, 6, 8, 10, 12]

In [17]:
# 음수 인덱스
print(evens[-4:-2])  # 많이 사용하지 않는 코드
print(evens[-2:])  # 리스트에서 끝에서 2개의 원소를 선택

[6, 8]
[10, 12]

In [20]:
odds = [1, 3, 5, 7, 9]
print(odds)

# odds 리스트에 원소를 뒤쪽에 추가: append
odds.append(11)
print(odds)

odds.append([13, 15, 17])
print(odds)  # [13, 15, 17] 리스트 자체가 마지막 원소로 추가됨!

[1, 3, 5, 7, 9]
[1, 3, 5, 7, 9, 11]
[1, 3, 5, 7, 9, 11, [13, 15, 17]]

In [21]:
# list1.extend(list2): list2의 원소들을 하나씩 list1에 추가
numbers = [1, 2, 3]
numbers.extend([4, 5, 6])
print(numbers)

[1, 2, 3, 4, 5, 6]

In [22]:
# list.remove(value): 리스트에서 처음 등장하는 값 value를 삭제
numbers = [1, 2, 3, 1, 2, 3]
numbers.remove(2)
print(numbers)

[1, 3, 1, 2, 3]

In [33]:
# tuple(튜플): 변경할 수 없는 리스트
numbers = (1, 2, 3, 4, 5)
print(type(numbers))  # tuple
print(numbers)
print(numbers[0])  # 튜플은 리스트와 마찬가지로 인덱스를 사용함.
print(numbers[:3])  # 튜플 원소들 중에서 앞에서 3개 선택.
print(numbers[-3:])  # 튜플 원소들 중에서 뒤에서 3개 선택.
# numbers[0] = 100  # tuple은 원소를 변경할 수 없기 때문에 에러 발생.

<class 'tuple'>
(1, 2, 3, 4, 5)
1
(1, 2, 3)
(3, 4, 5)

In [42]:
array_2d = [[1, 2, 3],
            [4, 5, 6, 7],
            [8, 9]]
print(array_2d)
print('array_2d length:', len(array_2d))
# array_2d는 리스트 3개를 원소로 갖는 리스트

print(array_2d[0])
print(array_2d[0][0])
print(array_2d[1][2])

[[1, 2, 3], [4, 5, 6, 7], [8, 9]]
array_2d length: 3
[1, 2, 3]
1
6

In [43]:
names = ['Python', 'Java', 'C/C++']
print(names)
# 리스트: 다양한 자료 타입의 원소들을 여러개 저장하기 위해 사용.

['Python', 'Java', 'C/C++']

In [51]:
# set(집합): 저장되는 순서가 중요하지 않고, 중복된 값을 허용하지 않는 타입.
# {1, 2, 3} == {3, 1, 2}: 저장되는 순서가 중요하지 않음. 인덱스 없음.
# {1, 2, 2, 3, 3, 3} == {1, 2, 3}: 중복 허용하지 않음.

set1 = {1, 2, 3}
print(set1)
set2 = {3, 1, 2}
print(set2)
print(set1 == set2)
# print(set1[0])  # 집합은 인덱싱을 할 수 없음!
set3 = {1, 2, 2, 3, 3, 3}
print(set1 == set3)  # 중복된 값들은 하나로 취급!
print('set3 length:', len(set3))

{1, 2, 3}
{1, 2, 3}
True
True
set3 length: 3

In [56]:
# dict(사전, dictionary): key-value 쌍으로 저장하는 데이터 타입
students = {1: '홍길동',
            2: '철수',
            10: 'Smith'}
print(students)
print('length students:', len(students))

# dict의 원소의 값을 읽거나 변경할 때는 key를 사용
print(students[10])

{1: '홍길동', 2: '철수', 10: 'Smith'}
length students: 3
Smith

In [57]:
menu = {'짜장면': 5000,
        '짬뽕': 6000,
        '볶음밥': 7000}
print(menu['볶음밥'])
# dict에서 key는 중복된 값을 허용하지 않음. 
# value는 중복되는 값이 있을 수 있음.

7000

In [60]:
print(menu)
print(menu.keys())  # dict의 키들만 선택
print(menu.values())  # dict의 값(value)들만 선택

{'짜장면': 5000, '짬뽕': 6000, '볶음밥': 7000}
dict_keys(['짜장면', '짬뽕', '볶음밥'])
dict_values([5000, 6000, 7000])

In [66]:
person = {'name': '오쌤',
          'phone': ['010-1111-1111', '02-1234-5678'],
          'email': {'personal': 'jake@gmail.com', 
                    'office': 'jake@itwill.co.kr'}
          }
print(person)
print(person['name'])
print(person['phone'])
print(person['phone'][1])
print(person['email']['personal']) # personal email만 선택

{'name': '오쌤', 'phone': ['010-1111-1111', '02-1234-5678'], 'email': {'personal': 'jake@gmail.com', 'office': 'jake@itwill.co.kr'}}
오쌤
['010-1111-1111', '02-1234-5678']
02-1234-5678
jake@gmail.com