<a href="https://colab.research.google.com/github/JakeOh/202006_iw_pyda_wkd/blob/master/py04_for.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print('*')
print('**')
print('***')
print('****')
print('*****')

*
**
***
****
*****

In [3]:
sum_of_numbers = 0
for n in [1, 3, 5]:
    sum_of_numbers += n  # sum_of_numbers = sum_of_numbers + n

print('sum =', sum_of_numbers)

"""
for 변수 in  리스트/튜플/딕셔너리/...:
    반복할 문장들
"""

sum = 9

'\nfor 변수 in  리스트/튜플/딕셔너리/...:\n    반복할 문장들\n'

In [6]:
# 문자열은 +, * 연산이 가능
# +: 두개의 문자열을 이어주는 기능
# *: 문자열을 반복해서 늘려주는 기능
print('abc' + 'def')
print('abc' * 3)

abcdef
abcabcabc

In [7]:
print('*' * 1)
print('*' * 2)
print('*' * 3)

*
**
***

In [9]:
for n in (1, 2, 3, 4, 5):
    print('*' * n)

*
**
***
****
*****

In [13]:
# range(start, end, step)
# start <= x < end 범위 안의 숫자들을 만들어주는 기능.
# step만큼씩 자동으로 늘려줌. step이 1일 때는 생략 가능.
for x in range(1, 6, 2):
    print(x)

1
3
5

In [14]:
for x in range(5, 0, -1):
    print(x)

5
4
3
2
1

In [15]:
# range(end): 0 <= x < end 미만의 1씩 증가하는 숫자들
for x in range(3):
    print(x)

0
1
2

In [18]:
# 빈 리스트(empty list) 생성
numbers = []
print(numbers)
numbers.append(1)
print(numbers)
numbers.append(2)
print(numbers)

[]
[1]
[1, 2]

In [20]:
# 빈 리스트에 10 이하의 양의 정수들을 저장: [1, 2, 3, ..., 10]
numbers = []
for n in range(1, 11):
    numbers.append(n)
    print(numbers)

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [21]:
# 빈 리스트에 10 이하의 양의 정수들 중에서 짝수만 저장: [2, 4, 6, 8, 10]
numbers = []
for n in range(2, 11, 2):
    numbers.append(n)
    print(numbers)

[2]
[2, 4]
[2, 4, 6]
[2, 4, 6, 8]
[2, 4, 6, 8, 10]

In [23]:
numbers = []
for n in range(1, 11):  # 1 <= n < 11 범위의 정수들
    if n % 2 == 0: # 2로 나눈 나머지가 0이면(짝수이면)
        numbers.append(n)
    print(numbers)

[2]
[2, 4]
[2, 4, 6]
[2, 4, 6, 8]
[2, 4, 6, 8, 10]

In [26]:
# break: 반복문을 중간에 종료하고 싶을 때 사용
for n in range(10):  # 0 <= n < 10 범위의 정수들 중에서
    print(n)
    if n >= 5: # 만약 n이 5이상이 되면
        break  # 반복문을 멈춤

0
1
2
3
4
5

In [27]:
# continue: continue 아래의 문장들을 실행하지 않고,
# 다음 반복 위해서 반복문의 시작부분으로 되돌아 가는 기능.
for n in range(5):  # 0 <= n < 5 범위의 정수들 중에서
    if n == 3:
        continue
    print(n)

0
1
2
4

In [29]:
# dict: key-value 쌍으로 이루어진 데이터들을 저장하는 자료 타입.
cities = {'Seoul': 'Korea',
          'Washington': 'USA',
          'London': 'UK'}
for capital in cities:
    print(capital, cities[capital])
# for-in 구문에서 dict를 사용하면, dict의 키를 차례대로 추출하는 동작을 반복.

Seoul Korea
Washington USA
London UK

In [30]:
# dict의 value들만 선택하고 싶을 때
for country in cities.values():
    print(country)

Korea
USA
UK

In [31]:
# dict에서 key, value 모두 반복하고 싶을 때:
for city, country in cities.items():
    print(city, country)

Seoul Korea
Washington USA
London UK

In [38]:
# list comprehension
numbers = [1, 2, 3, 4, 5, 6]
# numbers 안의 숫자들 중에서 짝수들로만 이루어진 새로운 리스트 evens 생성
# evens = []
# for x in numbers:  # numbers 안의 숫자들 중에서
#     if x % 2 == 0:  # x가 짝수이면
#         evens.append(x)
evens = [x for x in numbers if x % 2 == 0]

print(evens)
# Ctrl+/ : 주석 토글 기능

[2, 4, 6]

In [35]:
genders = ['male', 'female', 'female', 'male']
gender_code = []  # male - 0, female - 1
for g in genders:
    if g == 'male':
        gender_code.append(0)
    else:
        gender_code.append(1)
print(gender_code)

[0, 1, 1, 0]

In [36]:
gender_code2 = [0 if gender == 'male' else 1 
                for gender in genders]
print(gender_code2)

[0, 1, 1, 0]

In [39]:
# 2중 반복문
for x in range(1, 10):
    for y in range(1, 10):
        print(f'{x} x {y} = {x * y}')
    print('-' * 20)

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
--------------------
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
--------------------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
--------------------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
--------------------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
--------------------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
--------------------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
--------------------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
--------------------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
--------------------

In [41]:
# dictionary comprehension
data = {}  # empty dict
print(data)
data[1] = 'apple'  # dict_name[key] = value
print(data)
data[100] = 'MS'
print(data)

{}
{1: 'apple'}
{1: 'apple', 100: 'MS'}

In [43]:
product_id = [100, 101, 200, 201]
product_name = ['iphone', 'galaxy', 'TV', 'Blueray']
for id_, name in zip(product_id, product_name):
    print(id_, name)

100 iphone
101 galaxy
200 TV
201 Blueray

In [44]:
products = {}  # empty dict
for id_, name in zip(product_id, product_name):
    products[id_] = name  # 빈 dict에 새로운 원소(key-value) 추가
print(products)

{100: 'iphone', 101: 'galaxy', 200: 'TV', 201: 'Blueray'}

In [45]:
# dictionary comprehension
products2 = {key: value for key, value in zip(product_id, product_name)}
print(products2)

{100: 'iphone', 101: 'galaxy', 200: 'TV', 201: 'Blueray'}