<a href="https://colab.research.google.com/github/JakeOh/202006_iw_pyda_wkd/blob/master/py07_class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# 클래스(class): 데이터(변수)와 기능(함수)을 함께 가지고 있는 자료 타입(이름)
# 속성(attribute, property): 클래스가 가지고 있는 변수(데이터)
# 메서드(method): 클래스가 가지고 있는 함수(기능)
class Calculator:
    def __init__(self, x, y):  # initialization 함수
        self.x = x
        self.y = y

    def add(self):
        return self.x + self.y

    def subtract(self):
        return self.x - self.y

In [18]:
calc = Calculator(1, 2)  # 클래스 Calculator의 instance를 생성
# Calculator(): 생성자(constructor) - 클래스 이름과 동일
# 생성자를 호출하면 __init__() 메서드가 자동으로 호출
print(calc.x)
print(calc.y)
add = calc.add()
print('add =', add)
sub = calc.subtract()
print('sub =', sub)

1
2
add = 3
sub = -1

In [19]:
calc2 = Calculator(x=3, y=4)
print(calc2.x)
print(calc2.y)
print('add =', calc2.add())

3
4
add = 7

In [21]:
print(type(calc))

<class '__main__.Calculator'>

In [26]:
x = 'abc'
print(type(x))

<class 'str'>

In [28]:
s1 = 'Hello, Python!'
s2 = '안녕, Python'

print(s1.lower())  # upper()
print(s2.lower())

hello, python!
안녕, python

In [33]:
data = '1,F,16,170,65,normal'
# csv(comma-separated values)
result = data.split(',')
print(result)

['1', 'F', '16', '170', '65', 'normal']

In [35]:
log = '       abc .... 1234     hello             '
print(log)
print(log.strip())

       abc .... 1234     hello
abc .... 1234     hello

In [40]:
url = 'https://www.google.com/'
print(url.startswith('http'))
print(url.startswith('ftp'))
print(url.find('www'))

True
False
8

In [42]:
[0 if x == 's' else (1 if x == 'v'  else 2)
 for x in ['s', 's', 'v', 'v', 'vi', 'vi']]

[0, 0, 1, 1, 2, 2]