<a href="https://colab.research.google.com/github/JakeOh/202006_iw_pyda_wkd/blob/master/py10_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [ ]:
# Series: 1차원 형태의 배열과 비슷한 데이터 타입. 
# Series에는 한가지 타입의 값들만 저장 가능.
# DataFrame: 2차원 형태의 배열과 비슷한 데이터 타입.
# DataFrame에는 각 컬럼에는 같은 타입의 값들이 저장되어야 함.
# Series들로 이루어진 집합.
# Series와 DataFrame이 numpy.ndarray와 다른 점은
# 인덱스를 지정할 수 있다는 것.

In [2]:
s = pd.Series([1, 10 , 5, 9])
print(s)

0     1
1    10
2     5
3     9
dtype: int64

In [8]:
print(s[0])

1

In [9]:
print(s[0:2])

0     1
1    10
dtype: int64

In [10]:
print(s[[True, False, True, False]])

0    1
2    5
dtype: int64

In [13]:
s = pd.Series(data=[100, 90, 70],
              index=['서울', '경기', '인천'])
print(s)
print(s.shape)  # 1-D(1차원)

서울    100
경기     90
인천     70
dtype: int64
(3,)

In [16]:
print(s['인천'])

70

In [18]:
# Series.loc[]: 레이블 기반의 인덱스
# Series.iloc[]: 정수 위치 기반의 인덱스
print(s.loc['서울'])
print(s.iloc[0])

100
100

In [22]:
print(s.loc['경기':'인천'])  # 경기 <= label <= 인천
print(s.iloc[1:3])  # start <= i < end

경기    90
인천    70
dtype: int64
경기    90
인천    70
dtype: int64

In [23]:
s = pd.Series([1, 3, 5, 7, 9, 11])
print(s)

0     1
1     3
2     5
3     7
4     9
5    11
dtype: int64

In [24]:
print(s.loc[1:3])

1    3
2    5
3    7
dtype: int64

In [25]:
print(s.iloc[1:3])

1    3
2    5
dtype: int64

In [27]:
df = pd.DataFrame({'번호': [1, 2, 3],
                   '키': [170, 175, 160],
                   '몸무게': [75, 65, 60]})
df

   번호    키  몸무게
0   1  170   75
1   2  175   65
2   3  160   60

In [28]:
df.loc[0:1]

   번호    키  몸무게
0   1  170   75
1   2  175   65

In [29]:
df.iloc[0:1]

   번호    키  몸무게
0   1  170   75